
@import "tailwindcss";

@layer utilities {
  .text-outline {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--color-fuchsia-950) ;
    -webkit-text-fill-color: white;
    /* or any other color/width you need */
  }
}

*{
  font-family: "Nunito", sans-serif;
}
.hero {
  background-image: url('./assets/images/OQCI8I0.jpg');
  background-size: cover;
}
.chidinma, .hi{
font-family: "Rochester", cursive;
font-weight: bold;
}

/* .p_card{
  background-color: rgba(255, 255, 255, 0.151);
} */