
@import "tailwindcss";

*{
  font-family: "Nunito", sans-serif;
}
.hero {
  background-image: url('./assets/OQCI8I0.jpg');
  background-size: cover;
}

/* .p_card{
  background-color: rgba(255, 255, 255, 0.151);
} */