
@import "tailwindcss";

*{
  font-family: "Nunito", sans-serif;
}
.hero {
  background-image: url('./assets/images/OQCI8I0.jpg');
  background-size: cover;
}
.chidinma{
font-family: "Rochester", cursive;
font-weight: bold;
}

